<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SeleniumBasic"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.baseselenium.BaseSelenium"/>
        <listEntry value="com.testbasic.RobotClasss"/>
        <listEntry value="com.screenshot.ScreenshotUtil"/>
        <listEntry value="com.redbus.RB_Test"/>
        <listEntry value="com.orangehrm.FirstTest"/>
        <listEntry value="com.testbasic.ButtonSelect"/>
        <listEntry value="pagefactorymr.MR_HomePage"/>
        <listEntry value="com.redbus.RB_POM"/>
        <listEntry value="com.selenium1.WebTable"/>
        <listEntry value="com.orangehrm.GroupTestNG"/>
        <listEntry value="com.testbasic.UploadFile"/>
        <listEntry value="practicetng.TestNGClass"/>
        <listEntry value="practicetng.demoTestNG"/>
        <listEntry value="com.testbasic.BasicTest"/>
        <listEntry value="com.testbasic.PracticeInt"/>
        <listEntry value="practicetng.PracticeTestNG"/>
        <listEntry value="com.selenium1.WindowsHandle"/>
        <listEntry value="practicetng.LogIn_main"/>
        <listEntry value="com.listerners.TestListerners"/>
        <listEntry value="com.locator.LocatorElement"/>
        <listEntry value="com.orangehrm.OrangeHRM"/>
        <listEntry value="com.testbasic.SelectDropDown"/>
        <listEntry value="com.orangehrm.SeleniumTasks"/>
        <listEntry value="com.selenium1.WindowsHandle1"/>
        <listEntry value="com.redbus.RB_BaseClass"/>
        <listEntry value="com.selenium1.SeleniumActions"/>
        <listEntry value="pagefactorymr.LoginMR_PF"/>
        <listEntry value="com.testbasic.DynamicElement"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
